html,
body {
  height: 90%;
}

body {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  font-family: sans-serif;
  padding-top: 60px;
  max-width: 100vw;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 50px;
  padding: 0 15px;
  border-bottom: 1px solid #ffffff;
  background-color: #121212;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 10px;
    overflow: none;
}

.info,
.how-to-play {
  font-size: 24px;
  cursor: pointer;
}

.play-container {
  margin-bottom: 20px;
}

.seek-bar-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

.seek-bar {
  width: 100%;
  height: 10px;
  position: relative;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  margin: 0;
}

.seek-bar-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #282828;
  transform: scaleX(0);
  transform-origin: left;
}

.seek-bar-markers {
  width: 100%;
  height: 100%;
  position: absolute;
}

.seek-bar-progress {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1DB954;
  transform: scaleX(0);
  transform-origin: left;
}

.progress {
  height: 100%;
  background-color: #1DB954;
  width: 0;
}

.section {
  height: 100%;
  position: absolute;
  background-color: #282828;
}

.play-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #00000000;
  border: 2px solid white;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

.elapsed-time,
.total-time {
  font-size: 14px;
  position: absolute;
}

.elapsed-time {
  left: 0;
}

.total-time {
  right: 0;
}

.search-container {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.spotify-search {
  width: 90%;
  padding: 10px;
  background-color: #333;
  border: solid 1px black;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.submit {
  background-color: #1DB954;
  color: #000000;
  border: none;
}

.skip {
  background-color: #00000000;
  color: #ffffff;
  border: 1px solid white;
}

.skip,
.submit {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.1em;
  line-height: 1rem;
}

button[disabled] {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.search-container {
  position: relative;
  width: 100%;
}

.results-container {
  position: absolute;
  background-color: #333;
  color: #ffffff;
  width: 95%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #0000002b;
  display: none;
  top: calc(100% + 5px);
}

.result-item {
  padding: 8px 12px;
  cursor: pointer;
  color: #ffffff;
}

.result-item:hover {
  background-color: #282828;
}

.guess {
  height: 40px;
  border: 1px solid #ffffff62;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center; 
  padding-left: 10px;
  font-size: 16px; 
  font-weight: 300; 
  color: #ffffffaa; 
}

.guess-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.red-x-icon {
  color: rgba(255, 0, 0, 0.75);
  font-weight: bold;
  margin-right: 5px;
  padding-right: 12px;
}

.yellow-x-icon {
  color: rgba(255, 215, 0, 0.75);
  font-weight: bold;
  margin-right: 5px;
  padding-right: 12px;
}

.green-check-icon {
  color: green;
  font-weight: bold;
  margin-right: 5px;
  padding-right: 8px; 
} 


/* Results screen */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #121212;
}

.modal-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  text-align: center;
}

.album-art {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 2em;
}

.song-title {
  font-size: 2em;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 1em;
}

.song-artist {
  font-size: 1.5em;
  color: #888;
  margin-bottom: 2em;
}

.share-results-btn {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #FFFFFF;
  background-color: #1DB954;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.share-results-btn:hover {
  background-color: #148b3b;
}
